
@model Movie

@{
    ViewData["Title"] = Model.Title;
}


<div class="row justify-content-between mt-60-px">
    <div class="col-md-3">
        <img src="\images\@Model.Poster" width="150px" />
    </div>
    <div class="col-md-7">
        <div class="d-flex justify-content-between mb-3">
            <h3>@Model.Title</h3>
            <span class="mt-2">
                <i class="bi bi-star-fill text-warning"></i>
                <span class="text-muted">@Model.Rate.ToString("0.0")</span>
            </span>
        </div>
        <span class="text-muted m-5">
            <i class="bi bi-calendar-week"></i>
            @Model.Year
        </span>
        <span class="text-muted ">
            <i class="bi bi-film"></i>
            @ViewBag.g
        </span>
        <p class="text-justify mt-3">@Model.storeline</p>
    </div>
</div>